<div class="cocktail-search-container">
  <div class="search-form">
    <div class="cocktail-search-title">
      <span class="inline-search-text"> Cocktails recipes by </span>

      <span class="inline-input-wrapper">
        <input
          type="text"
          class="inline-text-input"
          [value]="filterField()"
          (input)="onFilterFieldChange($any($event.target).value)"
          [matAutocomplete]="fields"
          aria-label="Filter Field Input"
        />

        <mat-icon fontIcon="keyboard_arrow_down"></mat-icon>
      </span>

      <mat-autocomplete
        #fields="matAutocomplete"
        (optionSelected)="onFilterFieldChange($event.option.value)"
      >
        @for (filter of filterOptions; track filter.slug) {
          <mat-option [value]="filter.slug">
            {{ filter.name }}
          </mat-option>
        }
      </mat-autocomplete>
    </div>

    <div class="fav-only-container">
      @if(breakpoints.isTablet() || breakpoints.isDesktop()) {
        Favourites Only
      }
      <app-toggle-favourite-button
        [isFavourite]="favouriteValue()"
        (toggleFavourite)="onFavouriteChange()"
      />
    </div>
  </div>

  <mat-form-field appearance="fill" class="full-width-input">
    <input
      matInput
      placeholder="Search"
      [value]="filterValue()"
      [type]="inputType()"
      (input)="onFilterValueChange($any($event.target).value)"
      [matAutocomplete]="ingredients"
      maxlength="50"
    />
    <mat-icon matPrefix fontIcon="search"></mat-icon>
  </mat-form-field>
  
  <mat-autocomplete
    #ingredients="matAutocomplete"
    (optionSelected)="onFilterValueChange($event.option.value)"
  >
    @if (filterField() === "ingredient") { 
      @for (ingredient of ingredientListInput(); track ingredient) {
        <mat-option [value]="ingredient">
          {{ ingredient }}
        </mat-option>
      } 
    }
  </mat-autocomplete>
</div>
