:host {
  display: contents;
}

// Content section

#cocktail-list-section {
  grid-row: 3 / 5;

  background-color: var(--mat-sys-primary-container);

  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-rows: 1rem auto auto 1rem;
  gap: 1rem;

  .cocktail-search-container {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .cocktail-cards-container {
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    align-self: center;
    justify-self: center;
    
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(10rem, 1fr) );
    grid-auto-rows: minmax(5rem, auto);
    justify-items: center;
    gap: 1rem;
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 15rem;
  gap: 1rem;
  font-size: 1.5rem;

  .mat-icon {
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    color: var(--mat-sys-primary);
  }
}

.loading-container {
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 840px) {
  #cocktail-list-section {
    grid-column: 2 / 3;
    border-radius: var(--mat-sys-corner-medium);
  }
}
@media (max-width: 839px) {
  #cocktail-list-section {
    grid-column: 1 / -1;
  }
}