.card-wrapper {
  height: 100%;
  aspect-ratio: 1 / 1;
  max-width: 20rem;

  display: grid;
  grid-template-rows: auto auto;

  background-color: var(--mat-sys-shadow);
  border-radius: var(--mat-sys-corner-medium);
  color: var(--mat-sys-on-shadow);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;

    grid-column: 1 / 1;
    grid-row: 1 / 3;

    border-radius: var(--mat-sys-corner-medium);
  }

  .image-shadow {
    width: 100%;
    height: 100%;

    grid-column: 1 / 1;
    grid-row: 1 / 3;

    background: linear-gradient(0deg, var(--mat-sys-shadow) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: var(--mat-sys-corner-medium);
  }

  .mat-icon {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    align-self: start;
    
    margin: 0.5rem;
    justify-self: end;
  }

  .highlight-background {
    background: var(--mat-icon-background-color);
    border-radius: 50%;
    padding: 0.2rem;
  }
  
  .cocktail-info {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 1rem;

    grid-column: 1 / 1;
    grid-row: 2 / 3;
    align-self: end;
    
    .cocktail-name {
      font-size: 1rem;
      font-weight: bold;
    }

    .cocktail-menu-button {
      height: 1rem;
      width: 1rem;
      min-width: fit-content;
      min-height: fit-content;
      margin: -0.5rem;
      padding: 0;
      color: var(--mat-sys-on-surface);
    }
  }
}

@media (min-width: 768px) {
  .card-wrapper {
    max-width: 16rem;
  }
}

@media (min-width: 1280px) {
  .card-wrapper {
    max-width: 14rem;
  }
}

.card-wrapper:hover {
  transform: scale(1.02);
  transition: transform 0.2s;
}